.jv-textarea {
  width: 100%;
  height: 8rem;
  resize: none;
}
.tree-box {
  position: absolute;
  top: 12rem;
  right: 4rem;
  bottom: 0;
  left: 4rem;
  overflow: auto;
}
html,
body {
  font-size: 10px;
  height: 100%;
  font-family: 'monaco';
}
#root {
  height: 100%;
}
.box {
  height: 100%;
  position: relative;
}
.leftSlider {
  height: 100%;
  background-color: #ffffff;
}
.rightCon {
  height: 100%;
  background-color: #ffffff;
  position: relative;
}
.rightCon > .header {
  background-color: #ffffff;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
}
.rightCon > .content {
  background-color: #ffffff;
  padding: 0 4rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  bottom: 3rem;
  left: 4rem;
}
.rightCon > .footer {
  background-color: #ffffff;
  padding: 0 4rem;
  height: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
