@import '../../components/sliderBar/sliderBar.less';
@import '../../components/JSONViewer/JSONViewer.less';
@import '../../components/Ping/ping.less';

html, body {
    font-size: 10px;
    height: 100%;
    font-family: 'monaco';
    -webkit-app-region: drag;
}

#root {
    height: 100%;
}

// index.html 样式
.box {
    height: 100%;
    position: relative;
}
.leftSlider {
    height: 100%;
    background-color: #ffffff;
}
.rightCon {
    height: 100%;
    background-color: #ffffff;
    position: relative;
    & > .header {
        background-color: #ffffff;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.6rem;
    }
    & > .content {
        background-color: #ffffff;
        padding: 0 4rem;
        position: absolute;
        top: 4rem;
        right: 4rem;
        bottom: 3rem;
        left: 4rem;
    }
    & > .footer {
        background-color: #ffffff;
        padding: 0 4rem;
        height: 3rem;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}